.uuid
deps
secrets.yaml
ecobee.conf
home-assistant.log
home-assistant_v2.db
phue.conf
known_devices.yaml
.storage/application_credentials
.storage/auth
.storage/unifi_data
.storage/auth_provider.homeassistant
